@font-face {
  font-family: 'metaBold';
  src: url(style/font/MetaPlusBold.ttf) format("truetype");
}

@font-face {
  font-family: 'acme';
  src: url(style/font/Acme-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #f3f3f3;
  color: #5f5f5f;
  font: 300 1rem/1.5 Helvetica Neue, sans-serif;
  margin: 0;
  min-height: 100%;
}

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.align__item--start {
  align-self: flex-start;
}
.align__item--end {
  align-self: flex-end;
}

.site__logo {
  /**margin-bottom: 1.5rem;**/
}

input {
  border: 0;
  font: inherit;
}
input::placeholder {
  color: #7e8ba3;
}

.form__field {
  margin-bottom: 1rem;
}
.form input {
  outline: 0;
  padding: 0.5rem 1rem;
}
.form input[type=email], .form input[type=password] {
  width: 100%;
}

.grid {
  margin: 0 auto;
  max-width: 25rem;
  width: 100%;
}

h1 {
  font-size: 5rem;
  line-height: 3.5rem;
  font-weight: 100;
  margin: 0;
  color: white;
  font-family: 'acme';
}

h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 100;
  margin: 0;
  color: white;
  font-family: 'acme';
}

h3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0 0 1rem;
  color: white;
  font-family: 'acme';
}

a {
  color: #7e8ba3;
}

.register {
  background-color: white;
  box-shadow: 0 0 250px #aaaaaa;
  text-align: center;
  padding: 1rem 2rem;
}
.register input {
  border: 1px solid #142035;
  border-radius: 15px;
  background-color: transparent;
  text-align: center;
  width: 4rem;
  height: 4rem;
  color: #142035;
  font-family: 'acme';
  font-size: 2rem;
}
/* Stile del placeholder personalizzato */
input::placeholder {
  color: #142035;
  font-size: 1rem;
  opacity: 0.7;
}

/* Compatibilità per browser specifici */
input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
  color: #142035;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #142035;
}
input::-ms-input-placeholder { /* Microsoft Edge */
  color: #142035;
}
.register input:active,
.register input:focus {
  border: 1px solid #142035;
}
.register input[type=button] {
  border: 1px solid #142035;
  background-color: #142035;
  color: #fff;
  width: 100%;
  border-radius: 9999999px;
  font-size: 1rem;
  height: 3rem;
}

/* Stile per la modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.modal-content p {
    font-size: 18px;
    margin: 10px 0;
}

.close-btn {
  border: 1px solid #142035;
  background-color: #142035;
  color: #fff;
  width: 100%;
  border-radius: 9999999px;
  font-size: 1rem;
  height: 3rem;
}

.header_wrapper{
  background-color: #142035;
  width: 100%;
  height: 2rem;
}

.gift_wrapper{
  background-color: #142035;
  position: relative;
  top: -3rem;
  padding: 2rem;
  text-align: center;
}

.gift {
  height: 15rem;
  border-radius: 5px;
  padding: 1rem;
  background-color: white;
  background-image: url("svg/gift_back.svg"); /* Percorso del tuo SVG */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gift_detail{
  text-align: left;
  font-family: 'acme';
  line-height: 1.5rem;
  position: relative;
}

.investimento_wrapper{
  height: 10rem;
  background-color:#142035;
  padding: 0 1rem;
}

.investimento_title{
  text-align: left;
  width: 50%;
  margin-left: 1rem;
  float: left;
  margin-top: 2rem;
}

.investimento_title h3{
  color: white;
  margin-bottom: 0.5rem;
}

.investimento_description{
  font-size: 1rem;
  color: white;
  margin: 0;
}

.investimento_memo{
  font-size: 1.5rem;
  color: white;
  margin-right: 1rem;
  text-align: right;
  position: relative;
}


.detail_wrapper{
  text-align: left;
  font-family: 'acme';
  line-height: 1rem;
  padding: 1rem;
  position: relative;
  top: -2rem;
}


.quote-container {
  position: relative;
  max-width: 600px;
  padding: 0 3rem;
  top: -2rem;
}

/* The Modal (background) */
.investmentMemoModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.investmentMemoModal .modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
  top: 10%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.position_row {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  white-space: nowrap;
}

.position_icon {
  display:flex;
  flex: 0 0 auto;
  font-size: 1.5rem;
  color:#142035;
  justify-content: center;
  min-width: 2rem;
}

.position_name {
  flex: 1 1 auto;
  margin-left: -0.5rem;
  color: #142035;
  min-width: 12rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.position_value {
  display: flex;
  justify-content: right;
  flex: 1 1 auto;
  text-align: right;
  color: #142035;
}